body {
    background-color: aliceblue;
    margin: 50px;
    text-align: center;
}

h1 {
    color: teal;
    font-size: 40px;
}

h2 {
    color: deeppink;
    font-size: 30px;
    margin: 20px;
}

#computerSelect {
    border: pink 4px solid;
    width: 100px;
    height: 100px;

}

#computerScore {
    border: pink 4px solid;
    width: 150px;
    height: 100px;
    font-size: 20px;
}

#playerScore {
    border: pink 4px solid;
    width: 150px;
    height: 100px;
    font-size: 20px;

}

button {
    width: 100px;
    height: 100px;
    background: whitesmoke;

}

.flex, .flex2{
    display: flex;
    margin: 10px;
    justify-content: center;
}

.icons {
    stroke: hotpink;
    border: pink 2px solid;
}

.icons > * {
    //stroke: hotpink;
}

header {
    display: inline;
}

header > * {
    width: 100%;
    font-size: 30px;
    text-align: left;
    color: teal;
    background-image: url(../images/fb61414e-e006-4270-a68a-7a083663b905.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}